<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
    </style>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<header>
    <p class="hd"><a href="/" style="color: black; text-decoration: none;">&nbsp;← </a>Login</p>
</header>
<div class="logincontainer">
    <h2>Login</h2>
    <div class="center inline">
        <form action="/member/login" method="post">
            <div>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <input type="text" class="text" name="username" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                       placeholder="Email"/>
            </div>
            <div>
                <input type="password" class="text" name="password" placeholder="Password"/>
            </div>
            <button type="submit" class="loginbtn">Login</button>
            <p>Don't have an account? <a th:href="@{/member/signup}" style="color: rgb(80, 136, 245);">Sign up</a></p>
        </form>
    </div>
</div>

</body>
</html>
