<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Management</title>
</head>
<body>
<h1>관리 페이지</h1>

<a th:href="@{'/playlist/'+${playlistDto.id}}">본문 보기</a>

<!--플레이 리스트 추가 요청 목록-->

<form th:action="@{/detailList/add}" method="post">
    <input type="text" name="link" /><br/>
    <input type="hidden" name="postId" th:value="${playlistDto.id}"/>
    <button type="submit">추가</button>
</form>

<form th:action="@{/}" method="post">
    <button type="submit">거절</button>
</form>
</body>
</html>