<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Management</title>
</head>
<body>
<h1>관리 페이지</h1>

<a th:href="@{'/playlist/'+${playlistDto.id}}">본문 보기</a>

<!--플레이 리스트 추가 요청 목록-->


<h3>요청 목록</h3>

<div th:each="request : ${requestDto}">

    <p th:text="${request.link}"></p>

    <form th:action="@{/detailList/add}" method="post">
        <input type="hidden" name="link" th:value="${request.link}"/>
        <input type="hidden" name="postId" th:value="${playlistDto.id}"/>
        <input type="hidden" name="requestId" th:value="${request.id}"/>
        <button type="submit">추가</button>
    </form>

    <form th:action="@{/detailList/delete}" th:method="delete">
        <input type="hidden" name="link" th:value="${request.link}"/>
        <input type="hidden" name="postId" th:value="${playlistDto.id}"/>
        <input type="hidden" name="requestId" th:value="${request.id}"/>
        <button type="submit">거절</button>
    </form>
</div>


</body>
</html>