<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Musichub-Create Playlist</title>
    <link rel="stylesheet" href="/css/create.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
    </style>
</head>
<body>
<header>
    <p class="hd"><a href="/" style="color: black; text-decoration: none;">&nbsp;← </a>Create Playlist</p>
</header>
<div class="box1">
    <div class="box2">
        <h2>Playlist Title</h2>

        <form th:action="@{/playlist}" method="post">
            <input type="text" name="title" class="title" placeholder="Playlist Title"/> <br/>
            <input type="text" name="writer" class="writer" th:value="${#authentication.getName()}" readonly/> <br/>
            <input type="submit" class="sub" value="Create"/>
        </form>
    </div>
</div>

</body>
</html>