<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:insert="common/header.html" id="header"></div>
<h2>Create Playlist</h2>

<form th:action="@{/playlist}" method="post">
    <input type="text" name="title" placeholder="Playlist Title"/> <br/>
    <input type="text" name="writer" th:value="${#authentication.getName()}" readonly/> <br/>
    <input type="submit" value="Create"/>
</form>

<div th:insert="common/footer.html" id="footer"></div>

</body>
</html>