<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Musichub-Playlist Detail</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/node_modules/bootstrap-icons/font/bootstrap-icons.css">
</head>
<body>

    <div class="container p-1 mt-4" style="width: 100%;">
        <!-- 1 -->
        <div class="row">
            <!-- 1-1 -->
            <div class="col col-6">
                <!-- 1-1-1 : 뒤로가기 / Playlist Info / Request-->
                <div class="row">
                    <div class="container">
                        <span style="float: left">
                            <div class="container">
                                <span class="btn-group" style="float: left">
                                    <a href="/" style="color: black; text-decoration: none;"><i class="bi bi-arrow-left text-dark fs-3"></i></a>
                                </span>
                                <!--Dropbox => couldn't work => change into Select : title / writer / yymmdd-->
                                <span style="float: right">
                                    <select class="form-select ms-1" aria-label="Default select example">
                                      <option selected>Playlist Info</option>
                                      <option value="1"><p th:text="${playlistDto.title}" style="font-weight: bold"></option>
                                      <option value="2"><p th:text="${playlistDto.writer}" class="text-secondary"></p></option>
                                      <option value="3"><p th:inline="text" class="text-secondary">[[${#temporals.format(playlistDto.createDate, 'yyyy-MM-dd HH:mm')}]]</p></option>
                                    </select>
                                </span>
                            </div>
                        </span>
    
                        <span style="float: right">
                            <form th:action="@{/playlist/request}" method="post">
                                <div class="input-group mb-3">
                                    <input type="hidden" name="postId" th:value="${playlistDto.id}">
                                    <input type="text" name="link" class="form-control" placeholder="Youtube URL" aria-label="Youtube URL" aria-describedby="button-addon2">
                                    <input class="btn btn-outline-secondary" type="submit" value="Request" id="button-addon2">
                                </div>
                            </form>
                        </span>
                    </div>
                </div>

                <div class="collapse"></div>

                <!-- 1-1-2 : 관리페이지 / 수정 / 삭제-->
                <div class="row">
                    <div class="container mt-2" th:if="${playlistDto.writer.equals(#authentication.getName())}">

                    <span style="float: left;">
                        <a th:href="@{'/member/management/'+${playlistDto.id}}">
                            <button class="btn btn-outline-secondary">관리</button>
                        </a>
                    </span>

                        <span style="float: right;">
                        <span style="float: left;">
                            <a th:href="@{'/playlist/edit/'+${playlistDto.id}}">
                                <button class="btn btn-outline-secondary">수정</button>
                            </a>
                        </span>

                        <span style="float: right;">
                            <form id="delete-form" th:action="@{'/playlist/' + ${playlistDto.id}}" th:method="delete">
                                <button class="btn btn-outline-secondary" id="delete-btn">삭제</button>
                            </form>
                        </span>
                    </span>

                    </div>
                </div>
            <div>
                <!-- Youtube Video & Title -->
            </div>
            </div>

            <div class="collapse"></div>

            <!-- 1-2 : Playlists (Link) -->
            <div class="col col-6">
                <div class="container w-100">
                    <h3>재생 목록</h3>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Link</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="detail : ${detailDtoList}">
                            <td th:text="${detail.link}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



    <footer>
        <nav class="navbar fixed-bottom navbar-light bg-light" style="height: 120px;">
            <!--Current Video Title-->
            <div class="container justify-content-center">
            <!--Nav Buttons : shuffle / backward / play / pause / forward / repeat-->
                <span class="btn-group" onclick="">
                    <i class="bi bi-shuffle fs-1 p-1 mx-3"></i>
                </span>
                <span class="btn-group" onclick="">
                    <i class="bi bi-skip-backward-fill fs-1 p-1 mx-3"></i>
                </span>
                <span class="btn-group" onclick="">
                    <i class="bi bi-play-fill p-1 mx-2" style="font-size: calc(1.4rem + 1.5vw);"></i>
                </span>
                <span class="btn-group" onclick="">
                    <i class="bi bi-pause-fill p-1 mx-2" style="font-size: calc(1.4rem + 1.5vw);"></i>
                </span>
                <span class="btn-group" onclick="">
                    <i class="bi bi-skip-forward-fill fs-1 p-1 mx-3"></i>
                </span>
                <span class="btn-group" onclick="">
                    <i class="bi bi-arrow-repeat fs-1 p-1 mx-3"></i>
                </span>
            </div>
        </nav>
    </footer>

<!--Original Contents-->

<!--<div th:insert="common/header.html" id="header"></div>-->

<!--<h2 th:text="${playlistDto.title}"></h2>-->
<!--작성자 : <span th:text="${playlistDto.writer}"></span> <br/>-->
<!--<p th:inline="text">작성일 : [[${#temporals.format(playlistDto.createDate, 'yyyy-MM-dd HH:mm')}]]</p>-->


<!--<h3>재생 목록</h3>-->
<!--<table>-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>Link</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr th:each="detail : ${detailDtoList}">-->
<!--        <td th:text="${detail.link}"></td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->

<!--<div th:if="${playlistDto.writer.equals(#authentication.getName())}">-->


<!--    <a th:href="@{'/member/management/'+${playlistDto.id}}">-->
<!--        <button>관리페이지</button>-->
<!--    </a><br/>-->

<!--    <a th:href="@{'/playlist/edit/'+${playlistDto.id}}">-->
<!--        <button>수정</button>-->
<!--    </a>-->

<!--    <form id="delete-form" th:action="@{'/playlist/' + ${playlistDto.id}}" th:method="delete">-->
<!--        <button id="delete-btn">삭제</button>-->
<!--    </form>-->

<!--</div>-->

<!--<form th:action="@{/playlist/request}" method="post">-->
<!--    <input type="hidden" name="postId" th:value="${playlistDto.id}">-->
<!--    <input type="text" name="link">-->
<!--    <input type="submit" value="Request">-->
<!--</form>-->
</body>
</html>