<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Musichub-Playlist Detail</title>
</head>
<body>

<div th:insert="common/header.html" id="header"></div>

<h2 th:text="${playlistDto.title}"></h2>
작성자 : <span th:text="${playlistDto.writer}"></span> <br/>
<p th:inline="text">작성일 : [[${#temporals.format(playlistDto.createDate, 'yyyy-MM-dd HH:mm')}]]</p>


<h3>재생 목록</h3>
<table>
    <thead>
    <tr>
        <th>Link</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="detail : ${detailDtoList}">
        <td th:text="${detail.link}"></td>
    </tr>
    </tbody>
</table>

<div th:if="${playlistDto.writer.equals(#authentication.getName())}">


    <a th:href="@{'/member/management/'+${playlistDto.id}}">
        <button>관리페이지</button>
    </a><br/>

    <a th:href="@{'/playlist/edit/'+${playlistDto.id}}">
        <button>수정</button>
    </a>

    <form id="delete-form" th:action="@{'/playlist/' + ${playlistDto.id}}" th:method="delete">
        <button id="delete-btn">삭제</button>
    </form>

</div>

<form th:action="@{/playlist/request}" method="post">
    <input type="hidden" name="postId" th:value="${playlistDto.id}">
    <input type="text" name="link">
    <input type="submit" value="Request">
</form>

</body>
</html>