<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<div th:insert="common/header.html" id="header"></div>
<h2>Edit Playlist</h2>

<form th:action="@{'/playlist/edit/'+${playlistDto.id}}" method="post">
  <input type="hidden" name="_method" value="put"/>
  <input type="text" name="title" placeholder="Modified Title" th:value="${playlistDto.title}"/> <br/>
  <input type="text" name="writer" th:value="${playlistDto.writer}" readonly/> <br/>
  <input type="submit" value="Edit"/>
</form>

<div th:insert="common/footer.html" id="footer"></div>

</body>
</html>